@import "tailwindcss";

@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

:root {
  --reflex-color: #ffffff;
  --section-radius: 0;
  --title-font: "Orbitron", sans-serif;
  --text-font: "Exo 2", sans-serif;
}

p,
li {
  font-family: var(--text-font) !important;
}

.title-font {
  font-family: var(--title-font);
}

.text-font {
  font-family: var(--text-font);
}

body {
  background: #000;
  color: #fff;
  font-family: var(--text-font);
}

.glass {
  --color: color-mix(in srgb, var(--reflex-color) 15%, transparent);
  --color-2: color-mix(in srgb, var(--reflex-color) 0%, transparent);
  --color-light: color-mix(in srgb, var(--reflex-color) 5%, transparent);
  /* backdrop-filter: blur(10px); 
  backdrop-filter: grayscale(100%) blur(10px) contrast(1.2);*/
  background: repeating-conic-gradient(
        var(--color-light) 0% 25%,
        transparent 25% 50%
      )
      0 0 / 128px 128px,
    repeating-conic-gradient(var(--color-light) 0% 25%, transparent 25% 50%) 0 0 /
      512px 512px,
    repeating-conic-gradient(var(--color-light) 0% 25%, transparent 25% 50%) 0 0 /
      256px 256px,
    repeating-conic-gradient(var(--color-light) 0% 25%, transparent 25% 50%) 0 0 /
      1024px 1024px,
    linear-gradient(
      -45deg,
      var(--color),
      var(--color-2),
      var(--color-2),
      var(--color)
    ),
    rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) inset,
    0 0px 10px rgba(0, 0, 0, 0.5), 0 0px 30px rgba(0, 0, 0, 1);
  border-radius: var(--section-radius);
  position: relative;
  z-index: 0;
}
.glass .glass {
  background: linear-gradient(
      -45deg,
      var(--color),
      var(--color-2),
      var(--color-2),
      var(--color)
    ),
    rgba(0, 0, 0, 0.8);
}

.glare-wrapper {
  border-radius: var(--section-radius) !important;
}

.glass::after {
  --color: color-mix(in srgb, var(--reflex-color) 100%, transparent);
  --color-2: color-mix(in srgb, var(--reflex-color) 10%, transparent);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    -45deg,
    var(--color),
    var(--color-2),
    var(--color-2),
    var(--color)
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
.glass.glass-circle::after {
  border-radius: 50%;
}

.description {
  p {
    margin-bottom: 1em;
  }

  a {
    color: var(--reflex-color);
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: var(--reflex-color);
      text-decoration: none;
    }
  }
}

ul {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;
  list-style-type: square;

  li {
    margin-bottom: 0.5em;
  }
}
